/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.dog-registration-form {
    --primary-color: #8e7552;
    --hover-color: #a1835a;
    --border-color: #dcd7d7;
    font-size: 16px;
    font-weight: 600;
}

.add-new-dog-btn,
.dog-submit-btn {
    background: var(--primary-color);
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 20px;
    cursor: pointer;
}

.add-new-dog-btn:hover,
.dog-submit-btn:hover {
    background: var(--hover-color);
}

.dog-registration-form p {
    margin-bottom: 15px;
}

.dog-registration-form p label {
    color: var(--primary-color);
}

.dog-registration-form h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.dog-details,
.owner-details,
.additional-notes,
.agreement {
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    background: rgb(255 255 255);
}

.dog-registration-form .form-control input,
.dog-registration-form .form-control textarea,
.dog-registration-form .form-control select {
    outline: none;
    border: 1px solid var(--border-color);
    padding: 8px 15px;
    border-radius: 3px;
    background: #fff;
    color: #757575;
    font-size: 16px;
    font-weight: 600;
}

.dog-registration-form .form-control:not(:last-child) {
    margin-bottom: 20px;
}

.dog-registration-form input[type='text'],
.dog-registration-form input[type='number'],
.dog-registration-form textarea,
.dog-registration-form select,
.dog-registration-form input[type='date'] {
    width: 100%;
}

.dog-registration-form input[type='text']:focus,
.dog-registration-form textarea:focus {
    border-color: var(--primary-color);
}

.certificate-upload label {
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 2px 15px;
    background: #fff;
    display: block;
}

.certificate-upload input[type='file'] {
    border: none;
}

.certificate-upload input[type='file']::-webkit-file-upload-button {
    display: none;
}

.certificate-upload input[type='file']::file-selector-button {
    display: none;
}

.input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

.checkbox-group input[type='checkbox'] {
    display: none;
}

.checkbox-group {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
}

.checkbox-group label {
    position: relative;
    cursor: pointer;
}

.checkbox-group label:before {
    content: '';
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid var(--border-color);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 3px;
}

.checkbox-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 7px;
    width: 4px;
    height: 10px;
    border: solid var(--primary-color);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Custom radio button */
.agreement [type='radio']:checked,
.agreement [type='radio']:not(:checked) {
    position: absolute;
    left: -9999px;
}
.agreement [type='radio']:checked + label,
.agreement [type='radio']:not(:checked) + label {
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
.agreement [type='radio']:checked + label:before,
.agreement [type='radio']:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--primary-color);
    border-radius: 100%;
    background: #fff;
}
.agreement [type='radio']:checked + label:after,
.agreement [type='radio']:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: var(--primary-color);
    position: absolute;
    top: 5px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.agreement [type='radio']:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.agreement [type='radio']:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.agreement label:last-child {
    margin-left: 10px;
}

.input-group > .form-control {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.dog-details .remove-dog-btn {
    border: none;
    background: #a00;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 4px;
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
}

.dog-details .remove-dog-btn:hover {
    background: #b10606;
}

.dog-reg-success-message {
    background: #d1e7dd;
    color: #0a3622;
    border: 1px solid #a3cfbb;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    .input-group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .dog-registration-form .input-group .form-control {
        margin-bottom: 0;
    }

    .dog-registration-form .form-control:last-child {
        margin-bottom: 20px;
    }
}
