/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.dog-eclipse,
.dog-eclipse p {
    --success: #00b82f;
    --danger: #a00;
    --view: #201d1e;
    --download: #009900;
    --space: 30px;
    font-size: 14px;
    line-height: 1.4rem;
}

.dog-eclipse-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
}

.dog-btn {
    opacity: 0.8;
}

.dog-btn:hover {
    opacity: 1;
}

.button.delete-registration {
    border-color: var(--danger);
    color: var(--danger);
}

.button.delete-registration:hover {
    background: var(--danger);
    color: #fff;
    border-color: var(--danger);
}

.dog-registration-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: var(--space);
    margin-top: var(--space);
    -webkit-box-align: self-start;
    -ms-flex-align: self-start;
    align-items: self-start;
}

.dog-registration-container h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #8e7552;
}

.dog-owner-details,
.dogs-details-wrapper {
    border: 1px solid #ddd;
    padding: var(--space);
    border-radius: 6px;
    background: #fff;
}

.dogs-details-wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.dog-owner-details {
    min-width: 380px;
    position: sticky;
    top: 50px;
}

.dog-registration-container table {
    text-align: left;
    border-collapse: collapse;
}

.dog-registration-container table th,
.dog-registration-container table td {
    border: 1px solid #ddd;
    padding: 10px 20px;
}

.all-dogs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr var(--space) 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space);
    margin-bottom: var(--space);
}

.all-dogs:has(.dog-item:nth-child(1):nth-last-child(1)) {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}

.all-dogs .dog-item h4 {
    margin: 0;
    margin-bottom: 10px;
}

.dog-owner-details td.consent-no {
    color: var(--danger);
}

.dog-owner-details td.consent-yes {
    color: var(--success);
}

tr.section th,
tr.section td {
    border: none;
    padding-left: 0;
    padding-top: var(--space);
}

.dogs-details-wrapper td.certificate a.button:first-child {
    background: var(--view);
    border: none;
}

.dogs-details-wrapper td.certificate a.button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: var(--download);
    color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 20px;
    gap: 10px;
    border: none;
}

.dogs-details-wrapper td.certificate a.button img {
    width: 20px;
}

.dogs-details-wrapper td.certificate a.button:first-child img {
    width: 16px;
}

/* Responsive css */
@media only screen and (max-width: 1400px) {
    .all-dogs {
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 1024px) {
    .dog-registration-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .dog-eclipse-header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
