/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.dog-eclipse,
.dog-eclipse p {
    --success: #00b82f;
    --danger: #aa0000;
    --view: #201d1e;
    --download: #009900;
    --space: 30px;
    --primary-color: #8e7552;
    --hover-color: #a1835a;
    --border-color: #dcd7d7;
    font-size: 14px;
    line-height: 1.4rem;
}

.dog-btn {
    opacity: 0.8;
}

.dog-btn:hover {
    opacity: 1;
}

.dog-details-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-registration {
    color: var(--danger);
    display: inline-flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    opacity: 0.7;
}

.delete-registration img {
    width: 16px;
}

.delete-registration:focus {
    box-shadow: none;
}

.delete-registration:hover {
    opacity: 1;
    color: var(--danger);
}

.dog-registration-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: var(--space);
    margin-top: var(--space);
    -webkit-box-align: self-start;
    -ms-flex-align: self-start;
    align-items: self-start;
}

.dog-registration-container h3 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #8e7552;
}

.dog-owner-details {
    position: sticky;
    top: 50px;
}

.owner-details-wrapper {
    min-width: 380px;
    background: #fff;
    padding: var(--space);
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-bottom: var(--space);
}

.dog-registration-container table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

.dog-registration-container table th,
.dog-registration-container table td {
    border: 1px solid #ddd;
    padding: 10px 20px;
}

.all-dogs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr var(--space) 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space);
    margin-bottom: var(--space);
}

.all-dogs:has(.dog-item:nth-child(1):nth-last-child(1)) {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
}

.dog-item,
.additional-notes {
    background: #fff;
    padding: var(--space);
    border-radius: 6px;
    border: 1px solid #ddd;
}

.all-dogs .dog-item h4 {
    margin: 0;
    margin-bottom: 10px;
}

.dog-owner-details td.consent-no {
    color: var(--danger);
}

.dog-owner-details td.consent-yes {
    color: var(--success);
}

tr.section th,
tr.section td {
    border: none;
    padding-left: 0;
    padding-top: var(--space);
}

tr.section:is(:first-child) th,
tr.section:is(:first-child) td {
    padding-top: 0;
}

.dogs-details-wrapper td.certificate a.button:first-child {
    background: var(--view);
    border: none;
}

.dogs-details-wrapper td.certificate a.button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background: var(--download);
    color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px 20px;
    gap: 10px;
    border: none;
}

.dogs-details-wrapper td.certificate a.button img {
    width: 20px;
}

/* add assessments box */
.assessments {
    margin-top: var(--space);
}

.assessment-item p {
    margin: 0;
}

.assessment-meta {
    display: flex;
    align-items: center;
    gap: 12px;
}

.assessment-meta p {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 12px;
    color: #979797;
    line-height: 1;
}

.assessment-meta p img {
    width: 16px;
}

.assessment-item {
    margin-bottom: 15px;
    /* border: 1px solid var(--border-color); */
    /* padding: 8px 15px; */
    /* border-bottom: 1px solid #ddd; */
    padding-bottom: 10px;
}

span.separator {
    flex: 1;
    height: 1px;
    background: #ddd;
    margin: 0 10px;
}

.assessment-head a {
    line-height: 1;
}

.add-assessment textarea {
    width: 100%;
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
    outline: none;
    box-shadow: none;
}

.add-assessment textarea:focus {
    border-color: var(--primary-color);
}

.add-assessment input[type='submit'] {
    background: var(--primary-color);
    color: #fff;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 20px;
    cursor: pointer;
}

.add-assessment input[type='submit']:hover {
    background: var(--hover-color);
}

.assessment-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.delete-assessment-link img {
    width: 18px;
    opacity: 0.7;
}

.delete-assessment-link img:hover {
    opacity: 1;
}

/* Responsive css */
@media only screen and (max-width: 1400px) {
    .all-dogs {
        -ms-grid-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 1024px) {
    .dog-registration-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .dog-eclipse-header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
